
body {
  font-family: 'Montserrat', sans-serif;
  color: lightblue;
  background-color: black;
}

title {
  font-family: 'Montserrat', sans-serif;
  background-color: green;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8a1da5f7;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.postb{
    position: relative;
	margin:1em auto;
    padding:.3em 1em;
    border:.3em solid #00e;
}

.postp{
    position: relative;
	margin:1em auto;
    padding:.3em 1em;
    border:.3em solid #8100fff5;
}
.main{
	margin:0em auto;
    padding:0em 1em;
    max-width:60em;
}
