{% extends "base.html" %}

{% block content %}
<div class= "main">
    <h1>Projects on the Horizen for Dan 🌅</h1>
    <body>
      <div class="posto">
            <h2> Linux From Scratch</h2>
       I plan on creating a barebones Linux-based operating system
       from scratch by following the hard work of Gerard Beekmans in
       implementing <a href="http://www.linuxfromscratch.org/">Linux From Scratch</a>
        </div>
        <br>
        <div class="posto">
              <h2> Audio based Cycle GANS</h2>
         I would like to extend the <a href="https://junyanz.github.io/CycleGAN/">Cycle GAN</a> work from UC Berkely
         from images to audio by attempting to emulate the style of audio from one source in the style of another.
          </div>
          <br>
          <div class="posto">
                <h2>Open to Collaborate</h2>
        All of this being said, I would be open to collaborating on a Linux-based or deep-learning based
        project.  If you have an idea and are interested in working with me, drop me an email at Daniel@SilverEngineered.com!
            </div>
      </body>

      </div>
{% endblock %}