{% extends "base.html" %}

{% block content %}
<div class="main">
  <p id="dansilver">
    <img src="/static/images/dansilver.jpeg">
    </p>
    <div class="postb">
      <h2> My Goal</h2>
 <p>
   I am seeking a data science or machine learning software engineering job for when I graduate in June 2020
 </p>
    </div>
    <div class="postb">
      <h2> University/Professional Experience </h2>
 <p> I am pursuing
        a dual Bachelor's and Master's degree in Computer Engineering,
        concentrating in Machine Learning, Computer Vision, and Algorithms.
        </p>
        <p>
        In my 4th year of study at Northeastern University,
        I have accumulated 21 months of on the job internship experience
        in 4 internships.
        </p>
        <p>
       Graduate GPA: <b> 4.0 </b>
       </p>
       <p>
       Major GPA: <b> 3.66 </b>
       </p>
    </div>
    <div class="postb">
      <h2> My Skills</h2>
 <p>My technical toolbelt includes experience in:
  </p>
 <p>Deep Image Processing (GANs, CNNs, Triplet Embedding Networks) (Tensorflow)
  </p>
 <p>Parallel Computing (Apache Spark)
    </p>
 <p>NLP (PyTorch, Scikit-learn, Snorkel)
    </p>
  <p> Computer Vision (Open CV)
    </p>
  <p>Virtualization (Docker, VmWare, PyEnv)
    </p>
  <p> SQL & NoSQL (Postgres, MySQL, DynamoDB)
    </p>
  <p> Version Control (Git, Alembic)
    </p>
  <p> Linux (Debian-based, CentOS, Raspberry Pi)
    </p>
  <p> AWS (S3, EC2, DynamoDB)
    </p> APIs (Flask, Node JS)
  <p> CLI (Vim, Tmux, Screen, etc.)
    </p>
    </div>
        </div>
        <div class="main">
        <div class=postp>
          <p><b><big>Quick Links </big></b></p>
            <p>
            <a href="https://github.com/silverengineered">Github</a>
            <a href="https://www.linkedin.com/in/danielbsilver/">Linkdin</a>
            <a href="static/pdf/Daniel_Silver_Resume.pdf">Résumé</a>
          </p>
        </div>
          </div>
{% endblock %}
