{% extends "base.html" %}

{% block content %}
<div class="main">
  <h1> Projects 💻  </h1>
    <div class="postg">
This is a showcase of the projects that I feel best exemplify my talent.

<p>
  Code for these projects can be found on my <a href="https://github.com/silverengineered">Github</a>.
    For more information on each project, click on its image!
    </p>
  <p>

  </p>
  Check out my <a href="{{ url_for('upcoming') }}">upcoming projects</a>!
    </div>
    </div>
<br> <br> <br>
    <div class="main2">
  <div class="row">
    <div class="column">
        <a href="static/pdf/ML_Final.pdf">
      <img src="/static/images/pcagraph.png" style="width:100%">

      </a>
      <div class="commentbox">
        This project seeks to analyze the effect
    of different levels of PCA on a simple neural network based classification task by analyzing
    the trade-offs with reduced images and accuracy as a function of number of epochs.
      </div>
    </div>
    <div class="column">

        <a href="static/pdf/afrl.pdf">
          <img src="/static/images/afrl.png" style="width:100%">

      </a>
      <div class="commentboxb">
        This project utilizes a residual nerual network to create a many-to-one mapping
        of images with different textures, to a single texture. The orignial purpose being to increase the adaptability
        of drone training in a reinforcement learning network.

      </div>
    </div>
    <div class="column">
      <a href="static/pdf/5698_Final.pdf">
      <img src="/static/images/5698.png" style="width:100%">
      </a>
      <div class="commentbox">
        This project seeks to analyze the affect of levels of parallelism on training
        a model to find ideal hyperparameters to best restore images that were synthetically degredated
        using a transformation function and Gaussian noise.
      </div>
    </div>
  </div>
</div>





</div>
{% endblock %}
